<section id="gigs" class="container">
    <h1 id="title">All Jobs</h1>
    {{#each jobs}}
    <div class="gig">
        <h2>{{title}}</h2>
        <p>{{description}}</p>
        <ul>
            <li>Budget: {{budget}}</li>
            <li>
                <a href="#" class="btn btn-reverse">Apply Now</a>
            </li>
            <li>
                <a href="#" class="reverse-link"><i class="far fa-heart"></i> Save</a>
            </li>
            <li>
                <a href="#" class="reverse-link"><i class="fas fa-envelope"></i> Email</a>
            </li>
        </ul>
        <div class="tech">
            <small>Technologies Needed:
                <span>{{technologies}}</span>
            </small>
        </div>
    </div>
    {{else}}
        <p id="secondary-text">No Jobs available</p>
     {{/each}}
 
</section>